.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100px;
  padding: top;
color:  rgb(248, 5, 5);
font-size: larger;

}
.container>h2{
  color:  rgb(248, 5, 5);
}
 h1 { 
  color:  rgb(248, 5, 5);
  font-size: 50px ;
border: 2px solid black; 
border-radius: 10px;
padding: 10px;
border-color: grey;
}

h3 {
  color:  rgb(248, 5, 5);
  font-size: 50px;
  font-weight: bold;
}

.links {
  display: inline-flex;
 
  margin-top: 20px;
  
}

.links a {
  margin-right: 30px;
  margin-left: 20px;
  color:  rgb(37, 15, 233);
  text-decoration: none;
  font-size: 20px;
}

.contact-ways {color:  rgb(37, 15, 233);
display: flex;
flex-direction: column;
font-size: large;}

.contact-ways a p {
  color:  rgb(37, 15, 233);
  text-decoration: none;
  font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(214, 212, 212);
  color:rgb(248, 5, 5);
  padding: 16px;
  font-size: 16px;
  border: none  ;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(214, 212, 212);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(248, 5, 5);
  background-color: rgb(214, 212, 212) ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(248, 5, 5);
color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:rgb(248, 5, 5); color: white;
}

#ab1:hover {
  background-color: rgb(248, 5, 5);
  color: white;
}

.gallery-pics {
 
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
}

p{
  color:  rgb(248, 5, 5);
  font-size: 30px;
display: flex;
font-weight: bold;

}

img {
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  
}
